body {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 22px;
}
.form__input {
  margin-top: 10px;
  padding: 6px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  border: 1px solid lightgray;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}
.form__submit__button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.form__submit__button:disabled {
  cursor: not-allowed;
}
.form__success__message,
.form__failure__message {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: green;
}
.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__content__text {
  font-size: 18px;
}
